.bg-primary{
background:#477091!important;

}

.brand-logo{
    margin-left:8px;
}

.mt20{

margin-top:20px;
margin-bottom:20px;
}
.con{
 width:90%;
}
.img-container{

    margin:150px;
    height:150px
}